/* CSS comment
Colors used:
Primary Color (LightBlue): #0d9dda;
Secondary Color 1 (light orange): #ffcc99;
Secondary Color 2 (Purple): #3f51b5;
blue #99ccff
*/
/* Generic Styling*/
* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #4a4a4a;
}

header {
  background-color: #99ccff;
  border-bottom: 1px solid #4a4a4a;
  box-shadow: 0px 7px 11px 0px rgba(50, 50, 50, 0.89);
  position: fixed;
  width: 100%;
  padding: 10px 0 5px;
}

footer {
  background-color: #0d9dda;
  padding: 50px 0 0;
  border-top: 3px solid #ffffff;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

.socialmedia ul {
  padding: 0;
  list-style-type: none;
}

.socialmedia li {
  display: inline-block;
}

.socialmedia .fab {
  font-size: 2em;
  color: #fff;
}

.socialmedia a, .socialmedia a:visited {
  padding: 0 15px;
}

.socialmedia a:hover, .socialmedia a:active {
  color: black;
}

.copy {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 0.8em;
}

.grey{
  color:#4a4a4a!important;
  font-size: 0.5em;
  display: block;
  text-decoration: none;
}

span {
  font-size: 0.5em;
  display: block;
  margin: 1em 0;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-family: 'Cormorant Garamond', sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1 {font-size: 2.55em;font-weight: 700;line-height: 1;}
h2 {font-size: 2.25em;font-weight: 700;line-height: 1.4;}
h3 {font-size: 1.75em;font-weight: 400;line-height: 1.6;}
h4 {font-size: 1.35em;font-weight: 400;line-height: 1.8;}

img {width: 100%;}

.animation {max-width: 100%;height: auto;}

picture {
  max-width: 1200px;
  width: 80%;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
}

a, a:visited {
  color: #0000cc;
}

a:hover, a:focus, a:active {
  color: #ffcc99;
}

.button {
  color: #ffffff !important;
  background-color: #71daf4;
  font-weight: 700;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid #ffcc99;
  transition: 0.2s opacity;
  text-decoration: none;
  margin: 5px;
  transition: opacity 0.2s;
}

.button:hover, .button:focus, .button:active {
  opacity: 0.7;
}

.button.contact {
  background-color: #fff;
  color: #71daf4 !important;
  text-transform: uppercase;
  border: 2px solid #ffcc99;
}

.button.contact:hover, .button.contact:focus, .button.contact:active {
  background-color: #71daf4;
  color: #ffffff !important;
}

/* Containers , Rows, and Columns */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work .row:last-child, .about .row:last-child {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.logo {
  font-family: 'Cormorant Garamond', sans-serif;
  text-decoration: none;
  color: black !important;
  background-color: #fff;
  padding: 3px;
  border: 2px solid #4a4a4a;
  font-size: 2em;
  font-weight: 700;
}

nav {
  margin-top: 0px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a, nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav>ul>li>a:hover, nav>ul>li>a:active {
  color: black;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 20px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 12px 0;
  border-top: 1.5px solid rgba(6, 11, 251, 0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 12px;
}

#hero {
  background-color: #99ccff;
  text-align: center;
}

main {
  padding-top: 56px;
}

.section {
  padding: 45px 0;
}

.project .section:not(:first-child) {
  padding: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#svg2 {
  max-width 100%;
  height: auto;
}

/* ==============================
Animations
================================= */
@keyframes color-change {
  from {fill: #f6e67d;}
  to {fill: red;}
}

.g, .s {animation: 2s color-change infinite alternate linear;}

@keyframes color-change1 {
  from {fill: #f36648;}
  to {fill: purple;}
}

.a, .l {animation: 2s color-change1 infinite alternate linear;}

@keyframes color-change2 {
  from {fill: #81d6e8;}
  to {fill: orange;}
}

.n, .e2 {animation: 2s color-change2 infinite alternate linear;}

@keyframes color-change3 {
  from {fill: #f9b2d8;}
  to {fill: blue;}
}

.e1 {animation: 2s color-change3 infinite alternate linear;}

@keyframes spin {
  0% {transform: rotate(-2deg);}
  100% {transform: rotate(3deg);}
}

.los {
  transform-origin: center;
  animation: .5s spin infinite alternate linear;
}

@keyframes spin1 {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}

.star1 {
  transform-origin: right;
  animation: 4s spin1 infinite alternate linear;
}

@keyframes spin2 {
  0% {transform: rotateX(-10deg);}
  100% {transform: rotateX(10deg);}
}

.star2 {
  transform-origin: top;
  animation: 1s spin2 infinite alternate linear;
}

@keyframes mountain-move {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px, 50px);}
}

.blackmountain {animation: 3s mountain-move infinite alternate linear;}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 17px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
    text-align: center;
  }

  /* Top border go down and Left border appears */
  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  ul.topLeftBorders li a {
    position: relative;
    padding: 15px;
  }

  ul.topLeftBorders a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
  }

  ul.topLeftBorders a:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
  }

  ul.topLeftBorders a:hover:before {
    height: 100%;
  }

  ul.topLeftBorders a:hover:after {
    opacity: 0;
    top: 100%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 50%;
  }

  .col-lg-5 {
    width: 50%;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-xl-8 .col-xl-4 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
  }
}
